<div class="no-bkg form">
  <h3>Signin to your account:</h3>
  <%= form_tag "/signin", :id => "signin" do %>
    <div class="field">
      <%= label_tag :email %><br />
      <%= text_field_tag :email %><br />
    </div>
    <div class="field">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %><br />
    </div>
    <div class="actions">
      <%= submit_tag "Signin" %>
    </div>
  <% end %>
</div>
<div id="bottom-spacer"></div>
<div id="bottom-bar">
  <p id="bottom-nav"><%= link_to "Home", "/" %> | <%= link_to "Top of Page", "/top", :class=>"top"%></p>
</div>