<div id="bkg" class="main">
  <h3>How to share your contact:</h3>
  <ol class="instructions">
    <li>Review and edit your contact's information.</li>
    <li>Enter the email address of the person you wish to share it with.</li>
    <li>Click send!</li>
  </ol>
  <%= form_tag("share", :method => "post") do %>
  <div class="field">
    <%= label_tag("Contact's first name:") %><br />
    <%= text_field_tag :first_name, @contact.first_name %><br />
  </div>
  <div class="field">
    <%= label_tag("Contact's last name:") %><br />
    <%= text_field_tag :last_name, @contact.last_name %><br />
  </div>
  <div class="field">
    <%= label_tag("Agency:") %><br />
    <%= text_field_tag :agency, @agency.name %><br />
  </div>
  <div class="field">
    <%= label_tag("Agency description:") %><br />
    <%= text_area_tag :agency_desc, @agency.short_description, :size => "35x3" %><br />
  </div>
  <div class="field">
    <%= label_tag("Phone:") %><br />
    <%= text_field_tag :phone, @contact.phone %><br />
  </div>
  <div class="field">
    <%= label_tag("Your notes:") %><br />
    <%= text_area_tag :notes, @contact.notes, :size => "35x6" %><br />
  </div>
  <div class="field">
    <%= label_tag("Additional notes:") %><br />
    <%= text_area_tag :add_notes, @note, :size => "35x6" %><br />
  </div>
  <div class="field">
    <%= label_tag("Email contact to:") %><br />
    <%= text_field_tag :email %><br />
  </div>
  <%= hidden_field(:user, :id, :value => current_user.id) %>
  <div class="actions">
      <%= submit_tag("Send Contact") %>
  </div>
  <% end %>
</div>
