<div id="no-bkg">
  <% if @contact_list.empty? %>
    <h3>Once you've added contacts from the <%= link_to "Home", "/" %> page, your Contact Book will list them here!<h3>
  <% else %>
  <p>
    <%= render "contacts/nav" %>
  </p>
    <p>Search your contact book by:</p>
    <%= form_tag('/users', :method => 'get') do %>
      <%= radio_button_tag(:search_by, "contact") %>
      <%= label_tag(:search_by_contact, "Contact name") %><br />
      <%= radio_button_tag(:search_by, "agency") %>
      <%= label_tag(:search_by_agency, "Agency name or field ('hospice', 'childcare', etc.)") %><br /><br />
      <%= text_field_tag :search, params[:search], :id => 'search_field' %><br /><br />
      <%= submit_tag "Search", :name => nil %>
    <% end %>
  <% end %>
</div>
<% @contact_list.each do |contact, agency| %>
  <%= javascript_tag "activeContact('#{contact.last_name[0]}')" %>
  <div id="c_<%= contact.last_name[0] %>"></div>
  <div id="c_<%= contact.id %>"></div>
  <div id="bkg" >
    <div id="color">
      <p id="name"><%= contact.first_name %> <%= contact.last_name %></p>
    </div>
    <div id="bkg" class="main">
      <dl class="tags">
        <dt>Agency tags:</dt>
        <% agency.tag.split(",").each do |tag| %>
          <dd><%= tag %></dd>
        <% end %>
      </dl>
      <p><%= agency.name %></p>
      <p><%= contact.phone %></p>
      <p><%= contact.notes %></p>
      <p>
        <%= link_to "Share this Contact", share_path(:id => contact.id) %>
      </p>
      <p><%= link_to "Edit Contact's Information", [:edit, contact] %></p>
    </div>
  </div>
<% end %>
<div id="bottom-spacer"></div>
<div id="bottom-bar">
  <p id="bottom-nav"><%= link_to "Home", "/" %> | <%= link_to "Top of Page", "/top", :class=>"top"%> | <%= link_to "Show all of my Contacts", "/users" %></p>
</div>
