<div id="user">
  <p>
  Hide 'User Page' link while on 'User Page'.<br /><br />
  Functionality:<br /><br />
  User authentication with CanCan (?)<br />
  Forms to rate and review agencies
  </p>
</div>
<div id="label">
  <p>My contacts:</p>
</div>
<% @contact_list.each do |contact, agency| %>
  <div class="agency">
    <p id="contact-name"><%= contact.name %></p>
      <dl class="tags">
        <dt>Agency tags:</dt>
        <% agency.tag.split(",").each do |tag| %>
          <dd><%= tag %></dd>
        <% end %>
      </dl>
    <p><%= agency.name %></p>
    <p><%= contact.phone %></p>
    <p><%= contact.notes %></p>
    <p>
      <%= link_to "Share this Contact", share_path(:id => contact.id) %>
    </p>
  </div>
<% end %>
