<% if current_user %>
  <div class="add-agency">
    <%= link_to_unless_current "Add an Agency to Resourceful", new_agency_path %>
  </div>
<% end %>

<p class="user">
Hide 'User Page' link while on 'User Page'.<br /><br />
Functionality:<br /><br />
User authentication with CanCan (?)<br />
Form to add agency<br />
</p>

<% @contact_list.each do |contact, agency| %>
  <div class="agency contact">
    <p id="contact-name"><%= contact.name %></p>
      <dl class="tags">
        <dt>Agency tags:</dt>
        <% agency.tag.split(",").each do |tag| %>
          <dd><%= tag %></dd>
        <% end %>
      </dl>
    <p><%= agency.name %></p>
    <p><%= contact.phone %></p>
    <p><%= contact.notes %></p>
    <%= link_to "Share this Contact", share_path %>
  </div>
<% end %>
