<div id="no-bkg">
  <h3>My Contact Book:</h3>
</div>
<% @contact_list.each do |contact, agency| %>
  <div id="bkg">
    <div id="color">
      <p id="name"><%= contact.name %></p>
    </div>
    <div id="bkg" class="main">
      <dl class="tags">
        <dt>Agency tags:</dt>
        <% agency.tag.split(",").each do |tag| %>
          <dd><%= tag %></dd>
        <% end %>
      </dl>
      <p><%= agency.name %></p>
      <p><%= contact.phone %></p>
      <p><%= contact.notes %></p>
      <p>
        <%= link_to "Share this Contact", share_path(:id => contact.id) %>
      </p>
    </div>
  </div>
<% end %>
