<div id="bkg" class="main">
  <% if current_user %>
    <p>Edit the fields that need to be updated:</p>
    <%= form_for :agency, :url => {:action => "update"} do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %><br />
      </div>
      <div class="field">
        <%= f.label :street %><br />
        <%= f.text_field :street %><br />
      </div>
      <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city %><br />
      </div>
      <div class="field">
        <%= f.label :state %><br />
        <%= f.text_field :state %><br />
      </div>
      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone %><br />
      </div>
      <div class="field">
        <%= f.label :short_description %><br />
        <%= f.text_area :short_description, :size => "24x6" %><br />
      </div>
      <div class="field">
        <%= f.label :long_description %><br />
        <%= f.text_area :long_description, :size => "24x12" %><br />
      </div>
      <div class="field">
        <%= f.label :tag %>s, separated by commas<br />
        (eg: childcare,GLBTQ,alcoholism)<br />
        <%= f.text_field :tag %><br />
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
    <div id="delete">
      <p>Do you wish to delete this agency?</p>
      <p><%= link_to "Yes, Delete this Agency", "/agencies/#{@agency.id}", :method => :delete %></p>
    </div>
  <% else %>
    <p>Sneaky, sneaky.</p>
    <p>You aren't authorized!</p>
  <% end %>
</div>