<% if can? :create, @agency %>
  <div class="bkg main">
    <% if @agencies %>
      <div id="similar">
        <p>There is an agency in our database with that name already:</p>
        <% @agencies.each do |agency| %>
          <%= agency.name %><br />
          <%= agency.street %><br />
          <%= agency.city %>, <%= agency.state %><br />
          <%= agency.phone %><br />
        <% end %>
        <p>If this is not the same agency, edit the agency name then click the 'Save Agency' button below once more.</p>
      </div>
    <% end %>
    <% if @agencies.nil? %>
      <p>Enter the information for the agency you wish to add to Resourceful:</p>
    <% end %>
    <%= form_for @agency do |f| %>
      <div class="field">
        <%= f.label :name %><br />
        <%= f.text_field :name %>
      </div>
      <div class="field">
        <%= f.label :street %><br />
        <%= f.text_field :street %>
      </div>
      <div class="field">
        <%= f.label :city %><br />
        <%= f.text_field :city %>
      </div>
      <div class="field">
        <%= f.label :state %><br />
        <%= f.text_field :state %>
      </div>
      <div class="field">
        <%= f.label :phone %><br />
        <%= f.text_field :phone %>
      </div>
      <div class="field">
        <%= f.label :short_description, 'Short description, one or two sentences summarizing the agency' %><br />
        <%= f.text_area :short_description, :size => "24x6" %>
      </div>
      <div class="field">
        <%= f.label :long_description, 'Long description, describing services the agency offers' %><br />
        <%= f.text_area :long_description, :size => "24x12" %>
      </div>
      <div class="field">
        <%= f.label :tag, 'Tags, separated by commas (eg: childcare,GLBTQ,alcoholism)' %><br />
        <%= f.text_field :tag %>
      </div>
      <div class="actions">
        <%= f.submit %>
      </div>
    <% end %>
  </div>
<% end %>