<div id="bkg">
  <div id="color">
    <p id="name"><%= @agency.name %></p>
  </div>
  <div id="bkg" class="main">
    <dl class="tags">
      <dt>Agency Tags:</dt>
      <% @agency.tag.split(",").each do |tag| %>
        <dd><%= tag %></dd>
      <% end %>
    </dl>
    <p id="rating">
      In-house rating: <%= @agency.in_house_rating %><br />
      Overall rating: <%= @agency.overall_rating %><br />
      Client rating: <%= @agency.client_rating %><br />
      <% if current_user %>
        Your Rating:<br />
        <%= render "votes/stars" %><br />
        <%= link_to 'Leave a Review', root_url %>
      <% end %>
    </p>
    <p id="short-description"><%= @agency.short_description %></p>
    <p id="phone">Phone: <%= @agency.phone %></p>
    <p id="address"><%= @agency.street %><br />
    <%= @agency.city %>, <%= @agency.state %></p>
    <p id="long-description"><%= @agency.long_description %></p>
    <% if current_user %>
      <p id="add-link"><%= link_to 'Add to Contacts', "/contact/" + @agency.id.to_s, :class => "add-link" %></p>
    <% end %>
  </div>
</div>