<div id="bkg">
  <div id="color">
    <p id="name"><%= @agency.name %></p>
  </div>
  <div id="bkg" class="main">
    <dl class="tags">
      <dt>Agency Tags:</dt>
      <% @agency.tag.split(",").each do |tag| %>
        <dd><%= tag %></dd>
      <% end %>
    </dl>
    <p id="short-description"><%= @agency.short_description %></p>
    <p id="phone">Phone: <%= @agency.phone %></p>
    <p id="address"><%= @agency.street %><br />
    <%= @agency.city %>, <%= @agency.state %></p>
    <p id="long-description"><%= @agency.long_description %></p>
    <% if current_user %>
      <p id="add-link"><%= link_to 'Add to Contacts', "/contact/" + @agency.id.to_s, :class => "add-link" %></p>
      <p><%= link_to "Edit this Information", [:edit, @agency] %></p>
    <% end %>
    <div id="reviews">
      <div id="color" class="clickable">
        <p>Click Here to <% if current_user %> Write or <% end %> Read Reviews on <%= @agency.name %></p>
      </div>
      <% @reviews.each do |review| %>
        <div id="review" class="hidden">
          <% @user = User.find(review.user_id) %>
          <%= @user.name %> writes:<br /><br />
          <%= review.body %><br />
          <% if current_user && current_user.id == @user.id %>
            <p><%= link_to 'Delete your Review', "/reviews/#{review.id}", :method => :delete %></p>
          <% end %>
        </div>
      <% end %>
      <% if current_user %>
        <%= render "reviews/new" %>
      <% end %>
    </div>
  </div>
</div>