<div class="bkg">
  <div id="color">
    <p id="name"><%= @agency.name %></p>
  </div>
  <div class="bkg main">
    <dl class="tags">
      <dt>Agency Tags:</dt>
      <% @agency.tag.split(",").each do |tag| %>
        <dd><%= tag %></dd>
      <% end %>
    </dl>
    <% if @agency.url %>
      <p><a href="http://<%= @agency.url %>", target="_blank"><%= @agency.url %></a></p>
    <% end %>
    <p id="short-description"><%= @agency.short_description %></p>
    <p id="phone">Phone: <%= @agency.phone %></p>
    <p id="address"><%= @agency.street %><br />
    <%= @agency.city %>, <%= @agency.state %></p>
    <p id="long-description"><%= @agency.long_description %></p>
    <% if current_user %>
      <p id="add-link"><%= link_to 'Add to Contacts', "/contact/" + @agency.id.to_s, :class => "add-link" %></p>
      <% if can? :update, @agency %>
        <p><%= link_to "Edit this Information", [:edit, @agency] %></p>
      <% end %>
    <% end %>
    <div id="reviews">
      <div id="color" class="clickable">
        <p>Click Here to Read <% if current_user %> or Write <% end %> Reviews on <%= @agency.name %></p>
      </div>

      <% if !@user_reviews_hash.empty? %>
        <% @user_reviews_hash.each do |user, review| %>
          <div id="review" class="hidden">
            <p id="review-date"><%= review.created_at.strftime('%b %d, %Y') %></p>

            <%= user[0].name %> writes:<br />
            <p id="review-body"><%= review.body %></p>
            <% if current_user && current_user.id == user[0].id %>
              <p id="delete-review"><%= link_to 'Delete this Review', "/reviews/#{review.id}", :method => :delete %></p>
            <% end %>
          </div>
        <% end %>
      <% else %>
        <div id="review" class="hidden">
          <p>There aren't any reviews for <%= @agency.name %> yet.</p>
        </div>
      <% end %>

      <% if can? :create, @review %>
        <%= render partial: "reviews/new", locals: {agency: @agency} %>
      <% end %>
    </div>
  </div>
</div>

<div id="bottom-spacer"></div>
<div id="bottom-bar">
  <p id="bottom-nav"><%= link_to "Home", "/" %> | <%= link_to "Top of Page", "/top", :class=>"top"%></p>
</div>