<div id="no-bkg">
  <p>Search for agencies by name or field (eg 'child welfare', 'healthcare', etc)</p>
  <%= form_tag('/pages', :method => 'get') do %>
    <%= text_field_tag :search, params[:search], :id => 'search_field' %><br /><br />

      <%= radio_button_tag(:rating, "in_house_rating") %>
      <%= label_tag(:in_house_rating, "Sort by Rating") %><br /><br />
    <%= submit_tag "Search", :name => nil %>
  <% end %>
</div>