<%= render "search" %>

<div class="resource-list">
  <% @agencies.each do |agency| %>
    <div id="bkg" class="list">
      <div id="color">
        <p><%= link_to agency.name, agency_path(:id => agency.id) %></p>
      </div>
      <div id="bkg" class="main">
        <dl class="tags">
          <dt>Agency Tags:</dt>
          <% agency.tag.split(",").each do |tag| %>
            <dd><%= tag %></dd>
          <% end %>
        </dl>
        <p id="short-description"><%= agency.short_description %></p>
        <p id="phone">Phone: <%= agency.phone %></p>
        <p id="address"><%= agency.street %><br />
        <%= agency.city %>, <%= agency.state %></p>
        <% if current_user %>
          <%= link_to 'Add to Contacts', "/contact/" + agency.id.to_s, :class => "add-link" %>
        <% end %>
        <% if @contacts_agency_ids.include?(agency.id) %>
          <br/><br/><%= link_to 'You Have a Contact Here!' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>