<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h2>Greetings from <%= @user.name %> and Resourceful.com</h2>
    <p>
      <%= @user.name %> would like to share this contact with you:
    </p>
    <p>Name: <%= @first_name %> <%= @last_name %></p>
    <p>At: <%= @agency %></p>
    <p><%= @agency_desc %></p>
    <p>Phone: <%= @phone %></p>
    <p>Email: <%= @contact_email %></p>
    <p>Notes: <%= @notes %></p>
    <p><%= @additional_notes %></p>
    <p>Visit Resourceful at www.resourceful.com for more information on other agencies that might be of interest!</p>
    <p>Best,</p>
    <p>The Resourceful Team</p>
  </body>
</html>