<!DOCTYPE html>
<html>
<head>
  <title>Resourceful</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="page-head">

  <ul class="page-nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Mission', root_path %></li>
    <li><%= link_to 'Contact', root_path %></li>
    <li><%= link_to 'Signup', signup_path %></li>
    <% if current_user %>
      <li class="current-user-page-nav"><%= link_to 'Signout', signout_path, :method => :delete %></li>
    <% else %>
      <li class="current-user-page-nav"><%= link_to 'Signin', signin_path %></li>
    <% end %>
  </ul>

  <div class="resourceful">
    <p class="welcome">Welcome to Resourceful</p>
    <p class="slogan">where people and resources meet</p>
  </div>

</div>

<div class="current-user">
  <% if current_user %>
    <ul class="user-info">
      <li>Welcome, <%= current_user.name %></li>
      <% if current_user.agency_id != nil %>
        <li><%= current_user %></li>
      <% end %>
      <li><%= link_to 'User Page', root_path %></li>
    </ul>
  <% end %>
</div>

<div class="flash-notice">
  <% if flash %>
    <h3 class="flash"><%= flash[:notice] %></h3>
  <% end %>
</div>

<%= yield %>

<div class="about"></div>
<div class="mission"></div>
<div class="contact"></div>

</body>
</html>
