<!DOCTYPE html>
<html>
<head>
  <title>Resourceful</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <% if flash[:notice] %>
  <script language='javascript'>
    $(document).ready(function() {
      <%= fading_flash_notice %>
    });
  </script>
  <% end %>
</head>
<body>

<div class="page-head">

  <ul class="page-nav">
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'About', about_path %></li>
    <li><%= link_to 'Mission', root_path %></li>
    <li><%= link_to 'Email', email_path %></li>
    <li><%= link_to 'Signup', signup_path %></li>
    <% if current_user %>
      <li class="current-user-page-nav"><%= link_to 'Signout', signout_path, :method => :delete %></li>
    <% else %>
      <li class="current-user-page-nav"><%= link_to 'Signin', signin_path %></li>
    <% end %>
  </ul>

  <div class="resourceful">
    <p class="welcome">Welcome to Resourceful</p>
    <p class="slogan">where people and resources meet</p>
  </div>

</div>

<div class="current-user">
  <% if current_user %>
    <ul class="user-info">
      <li>Welcome, <%= current_user.name %></li>
      <% if current_user.agency_id != nil %>
        <li><%= current_user %></li>
      <% end %>
      <li><%= link_to_unless_current('User Page', { :controller => "users", :action => "show" }) %></li>
    </ul>
  <% end %>
</div>

<div id="notices">
</div>

<%= yield %>

</body>
</html>
